<main>
    <div class="container">
        <p>
            <b>Dennison: </b>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Sint doloremque nesciunt est eos quibusdam ut hic, vitae sit
            asperiores deserunt mollitia. Error mollitia quae magni sed vero?
            Voluptatem, laboriosam harum!
        </p>
        <p>
            <b>Corbett: </b>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Sint doloremque nesciunt est eos quibusdam ut hic, vitae sit
            asperiores deserunt mollitia. Error mollitia quae magni sed vero?
            Voluptatem, laboriosam harum!
        </p>
        <p>
            <b>Morris: </b>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Sint doloremque nesciunt est eos quibusdam ut hic, vitae sit
            asperiores deserunt mollitia. Error mollitia quae magni sed vero?
            Voluptatem, laboriosam harum!
        </p>
    </div>
</main>