extends layout

block content
  .container
    .row
      .col-md-12
        form.text-center.border.border-light.p-5(action='#' method="POST")
          p.h4.mb-4 Sign up
          .form-row.mb-4
            .col
              input#registerFormFirstName.form-control(type='text' placeholder='First name' maxlength='100' required='' name='firstName')
            .col
              input#defaultRegisterFormLastName.form-control(type='text' placeholder='Last name' maxlength='100' required='' name='lastName')
          input#registerFormAddress1.form-control.mb-4(type='text' placeholder='Address 1' maxlength='100' required='' name='address1')
          input#registerFormAddress2.form-control.mb-4(type='text' placeholder='Address 2' maxlength='100' name='address2')
          input#registerFormCity.form-control.mb-4(type='text' placeholder='City' maxlength='100' required='' name='city')
          select#registerFormState.browser-default.custom-select.mb-4(name='state')
            option(value='' disabled='' selected='') State
            each state in states
              option(value=`${state.state_abbr}`)=state.state_name
          input#registerFormZip.form-control.mb-4(type='text' placeholder='Zip' minlength='5' max='9' required='' name='zipCode')
          input#registerFormEmail.form-control.mb-4(type='email' placeholder='E-mail' maxlength='100' required='' name='email')
          input#registerPhonePassword.form-control.mb-4(type='text' placeholder='Phone number' aria-describedby='defaultRegisterFormPhoneHelpBlock' name='phone')
          input#registerFormPassword.form-control.mb-4(type='password' placeholder='Password' aria-describedby='defaultRegisterFormPasswordHelpBlock' name='password')
          input#registerFormPasswordVerify.form-control.mb-4(type='password' placeholder='Verify Password' aria-describedby='defaultRegisterFormPasswordHelpBlock')
          button.btn.btn-info.my-4.btn-block(type='submit')
            | Sign in
          p or sign up with:
          a.mx-2(href='#' role='button')
            i.fab.fa-facebook-f.light-blue-text
          a.mx-2(href='#' role='button')
            i.fab.fa-twitter.light-blue-text
          a.mx-2(href='#' role='button')
            i.fab.fa-linkedin-in.light-blue-text
          a.mx-2(href='#' role='button')
            i.fab.fa-github.light-blue-text
          hr
          p
            | By clicking 
            em Sign up
            |  you agree to our
            a(href='' target='_blank') 
              | terms of service